{% extends 'index.html' %}
{% block header %}
	<style> /* set the CSS */
		/*body { font: 12px Arial;}*/
		path { 
			stroke: steelblue;
			stroke-width: 2;
			fill: none;
		}
		.axis path,
		.axis line {
			fill: none;
			stroke: grey;
			stroke-width: 1;
			shape-rendering: crispEdges;
		}
		.red_line {
			fill: none;
			stroke: red;
			stroke-width: 2;
		}
		.orange_line {
			fill: none;
			stroke: orange;
			stroke-width: 2;
		}
		.purple_line {
			fill: none;
			stroke: purple;
			stroke-width: 2;
		}
	</style>
	<!-- load the d3.js library -->    
	<script src="/static/d3.min.js"></script>
	<script src="/static/d3-time.v2.min.js"></script>
	<script src="/static/d3-time-format.v3.min.js"></script>
	<script src="/static/d3-scale.v3.min.js"></script>
	<script src="/static/d3-collection.v1.min.js"></script>
	<script src="/static/vis.min.js"></script>
	<link href="/static/vis.min.css" rel="stylesheet" type="text/css" />
	<link href="/static/range.css" rel="stylesheet" type="text/css" />
	<script src="/static/range.js"></script>
	<script src="/static/add_scripts.js"></script>
{% endblock %}
{% block content %}
	<h1>Base Stations Graph</h1>
	<div class="ui segment">
		<p>
			<div id="visualization"></div>
		</p>
	</div>
	<div class="ui grid">
		<div class="four wide column">
			<div class="ui segment">
				<p>
					<label>Threshold</label>
					<div id="threshold"></div>
					<div class="ui range" id="threshold_range"></div>
					<br/>
					<label>Models</label>
					<select class="ui fluid dropdown" id="model">
						<option value="">Choose Models</option>
						{% for key, model_name in models_info.items() %}
							<option value="{{ key }}">{{ model_name[0] }}</option>
						{% endfor %}
					</select>
					<br/>
					<label>Technology</label>
					<select class="ui fluid dropdown" id="tech">
						<option value="">Choose Technology</option>
						<option value=2>2G</option>
						<option value=4>3G</option>
						<option value=5>4G</option>
						<option value=9>5G</option>
					</select>
					<br/>
					<button class="ui button" id="plot">Plot</button>
				</p>
			</div>
		</div>
		<div class="twelve wide column">
			<div class="ui segment" id="graph_segment">
				<p>
					<div id="graph">
					</div>
				</p>
			</div>
		</div>
	</div>
	
	
	<script>
		var g_threshold = 0;
		$(document).ready(function() {
			var container = document.getElementById('visualization');
			var timeline = createTimeline(container)
			var thr
			$('.ui.dropdown').dropdown();
			console.log("{{ models_info.keys()[0] }}")
			$('#model').dropdown('set selected', "{{ models_info.keys()[0] }}");

			$.ajax({
				url: "{{ url_for('getter.get_thr_range') }}",
				method: "GET",
				success: function (data) {
					//console.log(data)
					thr = d3.scaleLog().domain([1, data['max']]).range([0, 1000])
					$("#threshold").html(data['start'])
					data['onChange'] = function(val) { g_threshold = val; $("#threshold").html(thr.invert(val).toFixed(2)); }
					$('#threshold_range').range({
						min: 0,
						max: 1000,
						start: thr(data['start']),
						onChange: data['onChange']
					});
				}
			})
			
			$('button#plot').click(function(){
				var threshold = thr.invert(g_threshold)
				var models = $('#model').val()
				var period = getPredictPeriod(timeline)
				var tech = $('#tech').val()
				var data = JSON.stringify({ models: [models], threshold, period, tech })
				$.ajax({
					url: "{{ url_for('getter.get_bs_coords') }}",
					method: "POST",
					dataType: 'json',
					contentType: 'application/json',
					data: data,
					success: function (data) {
						console.log(data)
						d3.select("svg").remove();
						drawScatterPlot(data['items'])
					}
				})
			});
		});
		
	</script>
	<script>
		function drawScatterPlot(data) {
			var margin = {top: 30, right: 50 + 50, bottom: 30, left: 50};
			var width = $('#graph_segment').width() - margin.left - margin.right;
			var height = 600 - margin.top - margin.bottom;
			var colors = {arma: "red", boosting: "purple", linear: "orange", train: "gainsboro"}
			var zindex = {arma: 1, boosting: 2, linear: 3, train: -1}

			var svg = d3.select("div#graph")
				.append("svg")
					.attr("width", width + margin.left + margin.right)
					.attr("height", height + margin.top + margin.bottom)
				.append("g")
					.attr("transform", 
						"translate(" + margin.left + "," + margin.top + ")");

			var xMin = d3.min(data, d => d[1]) - 100
			var xMax = d3.max(data, d => d[1]) + 100
			var yMin = d3.min(data, d => d[2]) - 100
			var yMax = d3.max(data, d => d[2]) + 100



			var x = d3.scaleLinear().domain([xMin, xMax]).range([0, width]);
			var y = d3.scaleLinear().domain([yMin, yMax]).range([height, 0]);
			
			// Define the axes
			var xAxis = d3.axisBottom(x).ticks(20);
			
			var yAxis = d3.axisLeft(y).ticks(10);

			// Add the X Axis
			svg.append("g")
				.attr("class", "x axis")
				.attr("transform", "translate(0," + height + ")")
				.call(xAxis);
		
			// Add the Y Axis
			svg.append("g")
				.attr("class", "y axis")
				.call(yAxis);
			
			// text label for the x axis
			svg.append("text")
				.attr("x", width / 2 )
				.attr("y", 0 )
				.style("text-anchor", "middle")
				.text("Base Stations");

			data = data.sort(function(x, y){
				return d3.ascending(zindex[x[0]], zindex[y[0]])
			})

			svg.append('g')
				.selectAll("dot")
				.data(data)
				.enter()
				.append("circle")
				.attr("cx", function (d) { return x(d[1]); } )
				.attr("cy", function (d) { return y(d[2]); } )
				.attr("r", 5)
				.style("fill", function (d) { return colors[d[0]]; })
				.style("alpha", 0.3)
		
		}
		
	</script>
	
{% endblock %}