<!doctype html>
<title>Visualization</title>
<head>
	<script src="{{ url_for('viewer.staticfile', filename='jquery-3.5.1.min.js') }}">
	</script>
	<link rel="stylesheet" href="{{ url_for('viewer.staticfile', filename='semantic.min.css') }}">
	</link>
	<script src="{{ url_for('viewer.staticfile', filename='semantic.min.js') }}">
	</script>
</head>
<body>
	<div class="ui secondary pointing menu">
		<div class="item">
			<!-- <img src="{{ url_for('static', filename='imgs/logo.png') }}"> -->
			<i class="podcast icon big"></i>
		</div>
		<a class="{{ ('active ' if request.url_rule.endpoint == 'index' else '') + 'item' }}"
			href="{{url_for('viewer.index')}}">
			Visualization
		</a>
		<a class="{{ ('active ' if request.url_rule.endpoint == 'table' else '') + 'item' }}"
			href="{{url_for('viewer.table')}}">
			Add Points
		</a>
	</div>
	<div class="ui segment">
		<section class="content">
		{% block content %}{% endblock %}
		</section>
	</div>
<body>

