{% extends 'index.html' %}
{% block header %}
	<script src="/static/vis.min.js"></script>
	<link href="/static/vis.min.css" rel="stylesheet" type="text/css" />
	<script src="/static/add_scripts.js"></script>
{% endblock %}
{% block content %}
	<h1>Models Status</h1>
	<div class="ui segment">
		<p>
			<div id="visualization"></div>
			<br/>
			
				<button class="ui button">Train All</button>
				<button class="ui button">Predict All</button>
				<div class="ui toggle checkbox">
					<input type="checkbox" name="gift" tabindex="0" class="hidden">
					<label>Predict for added points</label>
				</div>
			
		</p>
	</div>
	

	<table class="ui celled table">
		<thead><tr>
		<th>Model Name</th>
		<th></th>
		<th>Train StartTime</th>
		<th>Train StopTime</th>
		<th></th>
		<th>Predict StartTime</th>
		<th>Predict StopTime</th>
		</tr></thead>
		<tbody>
			{% for key, value in models_info.items() %}
			<tr>
				<td>{{ value[0] }}</td>
				<td class="center aligned" id="{{key + '_train_btn'}}">
					<div class="transition hidden">
						<i class="spinner icon loading big"></i>
						Loading
					</div>
					<button class="ui icon button" id="{{ 'train_' + key }}">
						<i class="sitemap blue icon large"></i>
						Train
					</button>
				</td>
				<td id="{{key + '_train_start'}}">{{ models_data[key][0] }}</td>
				<td id="{{key + '_train_stop'}}">{{ models_data[key][1] }}</td>
				<td class="center aligned" id="{{key + '_predict_btn'}}">
					<div class="transition hidden">
						<i class="spinner icon loading big"></i>
						Loading
					</div>
					<button class="ui icon button" id="{{ 'predict_' + key }}">
						<i class="blind blue icon large"></i>
						Predict
					</button>
				</td>
				<td id="{{key + '_predict_start'}}">{{ models_data[key][2] }}</td>
				<td id="{{key + '_predict_stop'}}">{{ models_data[key][3] }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<script>
		var container = document.getElementById('visualization');
		var timeline = createTimeline(container)

		$('.ui.checkbox').checkbox()

		function toggleButtons(model_name, task_type) {
			var td$ = $(`td#${model_name}_${task_type}_btn`)
			var isSpinner = $('div', td$).hasClass('transition')
			var item$ = $('div', td$)
			var negItem$ = $('button', td$)
			if (isSpinner) {
				var tmp$ = item$
				item$ = negItem$
				negItem$ = tmp$
			}
			item$.addClass('transition')
			item$.addClass('hidden')
			negItem$.removeClass('transition')
			negItem$.removeClass('hidden')
		}

		function updateRunStopStatus(model_name, task_type) {
			console.log("updateRunStopStatus", "{{ url_for('runner.model_status', model_name='__template__')}}".replace("__template__", model_name))
			$.ajax({
				url: "{{ url_for('runner.model_status', model_name='__template__')}}".replace("__template__", model_name),
				method: "GET",
				success: function (data) {
					console.log(data)
					$(`td#${model_name}_train_start`).html(data['start'])
					$(`td#${model_name}_train_stop`).html(data['stop'])
				}
			})
		}


		function updateStatus(url_req, model_name, task_type) {
			//check status
			$.ajax({
				url: url_req,
				method: "GET",
				success: function (data) {
					console.log(data)
					//data = JSON.parse(data)
					//console.log(data)
					if (data['ready']) {
						updateRunStopStatus(model_name, task_type)
						toggleButtons(model_name, task_type)
					} else {
						setTimeout(function() {updateStatus(url_req, model_name, task_type)}, 5000)
					}
				}
			})
		}


		{% for model_name, value in models_info.items() %}
			$('#train_{{ model_name }}').click(function(){
				//run loader
				toggleButtons("{{ model_name }}", "train")
				$.ajax({
					url: "{{ url_for('runner.model_train', model_name=model_name) }}",
					method: "GET",
					success: function(data, status, request) {
						status_url = request.getResponseHeader('Location');
						updateStatus(status_url, "{{model_name}}", "train")
					}
				})
			})
			$('#predict_{{ model_name }}').click(function(){
				//run loader
				toggleButtons("{{ model_name }}", "predict")
				console.log(timeline.itemsData)
				var data = getPredictPeriod(timeline)
				console.log(data)
				$.ajax({
					url: "{{ url_for('runner.model_predict', model_name=model_name) }}",
					method: "POST",
					dataType: 'json',
					contentType: 'application/json',
					data: JSON.stringify(data),
					success: function(data, status, request) {
						status_url = request.getResponseHeader('Location');
						updateStatus(status_url, "{{model_name}}", "predict")
					}
				})
			})
		{% endfor %}
	</script>
	
{% endblock %}