<html>
<head>
<style>
.canvas {
	position:absolute;
	top:0;
	left:0;
	z-index:10;	
}
.video{
	width: auto;
	height: auto;
	position: absolute;
	top:0;
	left:0;
}
#container{
	margin: 0 auto;
	position: relative;
}
</style>

<script type="text/javascript" src="scripts/jquery.min.js"></script>
<script type="text/javascript" src="scripts/socket.io.min.js"></script>
<!-- TODO
++++++++++++++++++++++++++++++++
1. We need to add checking of supported constarints.
2. 
++++++++++++++++++++++++++++++++
-->
</head>
<body>

<br/>
<br/>
<!--
<svg width="120" height="120"
     viewBox="0 0 120 120"
     xmlns="http://www.w3.org/2000/svg">
	<rect x="10" y="10" width="100" height="100"/>
</svg>-->
<div id='container'>
<video class='video' id="video1" height="480" width="640" autoplay></video>

	<svg id='cv1' class='canvas' height="480" width="640" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 480">
		<polygon id="frame" points="200,10 250,190 160,210 100,20" style="fill:none;stroke:none;stroke-width:1"/>
	</svg>

</div>

<select id="resolution">
	<option value='std'>Just Video</option>
	<option value='hd'>High Defenition</option>
	<option value='vga' selected>VGA quality</option>
</select>

<select id="videoSource"></select>


<button id='start-btn'>Record screen!</button>
<button id='stop-btn'>Stop screen!</button>
<div id="div"></div><br>

<a id="link"></a>

<!-- <input type="file" accept="image/*" capture="camera" /> -->
<p id='logline'></p>
<script type="text/javascript">
// web socket
namespace = '/test';
// Connect to the Socket.IO server.
// The connection URL has the following format:
//     http[s]://<domain>:<port>[/<namespace>]
var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);
// Event handler for new connections.
// The callback function is invoked when a connection with the
// server is established.
socket.on('connect', function() {
	console.log('send request');
	socket.emit('my_event', {data: 'I\'m connected!'});
});
// Event handler for server sent data.
// The callback function is invoked whenever the server emits data
// to the client. The data is then displayed in the "Received"
// section of the page.
socket.on('video_response', function(msg) {
	//console.log('response',msg.data);
	var iter = 0;	
	msg.data.forEach(codes=>{
		if (iter % 10 == 0){
			Object.keys(codes).forEach(key=>{
				//console.log('codes',codes[key].poly.map((item)=> item.join(',')).join(' '))
				draw_frame(codes[0].poly.map((item)=> item.join(',')).join(' '))		
			})
		}
		iter++;		
	})
		
});

socket.on('my_response', function(msg) {
	console.log("response :"+msg.data);
});

function draw_frame(points){
	var $polygon = $('svg polygon#frame')
	//console.log('points',points)
	$polygon.attr('points',points)
	$polygon.attr('style','fill:none;stroke:purple;stroke-width:4')
	
}


var constraints = { video: {
      video: {width: {max: 320}, height: {max: 240}},
      
    },frameRate: {max:10}}

var buffer_size_ms = 500

var rec_loop = (stream) => {
	setTimeout(()=>{
		record(stream,buffer_size_ms)
			.then(recording => {
				//console.log(recording)
				socket.emit('video_event',{data: new Blob(recording)});
			}).catch(log)
		if (!rec_stopped){
			rec_loop(stream)
		}
	},buffer_size_ms)
}

var rec_stopped = true

var counter = 0

var start = () => navigator.mediaDevices.getUserMedia(constraints)
	.then(stream => {
		document.getElementById('video1').srcObject = stream
		
		rec_loop(stream)
  }).catch(log);

var record = (stream, ms) => {
  var rec = new MediaRecorder(stream, {mimeType:'video/mp4'}), data = [];
  rec.ondataavailable = e => data.push(e.data);
  rec.start();
  log(rec.state + " for "+ (ms / 1000) +" seconds...");
  var stopped = new Promise((r, e) => (rec.onstop = r, rec.onerror = e));
  return Promise.all([stopped, wait(ms).then(() => rec.stop())])
    .then(() => data);
};

var stop = stream => stream.getTracks().forEach(track => track.stop());
var wait = ms => new Promise(resolve => setTimeout(resolve, ms));
var log = msg => $('#logline').html(msg);

$('#start-btn').on('click',()=>{
	log('Start recording')
	rec_stopped = false
	start()
})

$('#stop-btn').on('click',()=>{
	rec_stopped = true
	log('Stoped')
})

</script>


</body>


</html>
